@using AppPerfumaria.Api.ReinoCompany
@using AppPerfumaria.Models.Auth
@using AppPerfumaria.Models.Resources
@using AppPerfumaria.Models.Tables

@inject IDialogService Dialog
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject ISnackbar Snack

<MudDialog Style="max-height: 70%;">
    <DialogContent>
        <EditForm Model="_instalacaoColaboradorForm" OnValidSubmit="Salvar" @ref="_instalacaoColaboradorFormRef">
            <DataAnnotationsValidator />

            <MudFocusTrap Disabled="false" DefaultFocus="DefaultFocus.FirstChild">
                <MudSelect @bind-Value="_instalacaoColaboradorForm!.status" Variant="Variant.Outlined"
                           Label="Status Associação" Margin="Margin.Dense" >
                    <MudSelectItem Value="@("Ativo")" />
                    <MudSelectItem Value="@("Inativo")" />
                </MudSelect>
                <ValidationMessage For="() => _instalacaoColaboradorForm.status" />

                <MudTextField T="string" @bind-Value="_instalacaoColaboradorForm.observacoes" Variant="Variant.Outlined"
                              Label="Observações" Disabled="_verificando" Margin="Margin.Dense" Lines="10" />
                <ValidationMessage For="() => _instalacaoColaboradorForm.observacoes" />
            </MudFocusTrap>
        </EditForm>
    </DialogContent>
    <DialogActions>
        <div class="d-block w-100 px-2">
            @if (_carregando)
            {
                <MudProgressLinear Color="Color.Secondary" Rounded="true" Striped="true"
                                   Size="Size.Medium" Value="100" Class="mb-2" />
            }
            <MudFab Class="w-100" Label="Salvar" Size="Size.Medium"
                    OnClick="ValidarDadosForm" Disabled="_verificando" />
            <MudFab Class="w-100 mt-2 mb-5" Label="Fechar" OnClick="(() => _mudDialog!.Cancel())"
                    Size="Size.Medium" Disabled="_verificando" />
        </div>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter]
    private MudDialogInstance? _mudDialog { get; set; }
    [Parameter]
    public InstalacoesColaboradores? _instalacaoColaboradorForm { get; set; }
    private Auth? _auth;
    private EditForm? _instalacaoColaboradorFormRef;
    private bool _carregando = false;
    private bool _verificando = false;

    private async Task ValidarDadosForm()
    {
        try
        {
            _carregando = true;
            _verificando = true;

            if (_instalacaoColaboradorFormRef!.EditContext!.Validate())
            {
                await Salvar();
            }
            else
            {
                Snack.Add("Por favor, verifique todos os campos!", Severity.Warning);
                _verificando = false;
                _carregando = false;
            }
        }
        catch (Exception e)
        {
            Snack.Add("Tivemos um problema ao tentar validar dados!", Severity.Warning);
        }
    }

    public async Task Salvar()
    {
        try
        {
            _auth = await LocalStorage.GetItemAsync<Auth>("auth");
            var reinoCompany = new ReinoCompany();
            InstalacoesColaboradoresResource? response = await reinoCompany.InstalacoesColaboradoresAtualizar(_auth!.token!, _instalacaoColaboradorForm!);

            if (response!.status)
            {
                _mudDialog!.Close(DialogResult.Ok<InstalacoesColaboradores>(_instalacaoColaboradorForm!));
            }
            else
            {
                if (!string.IsNullOrEmpty(response.message))
                {
                    Snack.Add(response.message, Severity.Warning);
                }

                if (response.erros != null)
                {
                    var erros = response.erros;
                    foreach (var propriedade in erros.GetType().GetProperties())
                    {
                        List<string>? propErros = (List<string>)erros.GetType().GetProperty(propriedade.Name).GetValue(erros, null);
                        if (propErros != null)
                        {
                            foreach (var mensagem in propErros)
                            {
                                Snack.Add(mensagem, Severity.Warning);
                            }
                        }
                    }
                }
                _verificando = false;
                _carregando = false;
            }
        }
        catch (Exception e)
        {
            Snack.Add("Tivemos um problema ao tentar salvar!", Severity.Warning);
            _verificando = false;
            _carregando = false;
        }
    }
}
