@inject IJSRuntime JS

<button @onclick="CapturarImagem">Capturar Imagem</button>

<div id="htmlToRender" style="padding:10px; background:#efcbcb; height:1920px; width:1080px;">
    <h3>Olá, mundo!</h3>
    <p>Este conteúdo será convertido em PNG.</p>
    <img src="img/plano_fundo_divulgacao.png" alt="Girl in a jacket">
    @* <img src="img/logo_circulo.png" alt="Girl in a jacket" width="500" height="600"> *@
</div>


@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await CapturarImagem();
        }
    }

    private async Task CapturarImagem()
    {
        var base64 = await JS.InvokeAsync<string>("captureHtmlAsImage", "htmlToRender");

        // Salvar localmente
        var bytes = Convert.FromBase64String(base64.Split(',')[1]);
        var filePath = Path.Combine(FileSystem.CacheDirectory, "html_output.png");
        File.WriteAllBytes(filePath, bytes);

        await Share.Default.RequestAsync(new ShareFileRequest
        {
            Title = "Compartilhar imagem",
            File = new ShareFile(filePath)
        });
    }
}
