@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page" style="@($"background:{BackgroundColor};")">
    <CascadingValue Value="this">
        @Body
    </CascadingValue>
</div>

@code {
    // Você pode definir um valor padrão
    public string BackgroundColor { get; set; } = "#EEEEEE";

    // Método para outros componentes chamarem
    public void ChangeColor(string hex)
    {
        BackgroundColor = hex;
        StateHasChanged();
    }
}
