@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page" style="@($"background:{CackgroundColor};")">
    <CascadingValue Value="this">
        @Body
    </CascadingValue>
</div>

@code {
    // Você pode definir um valor padrão
    public string CackgroundColor { get; set; } = "#EEEEEE";

    // Método para outros componentes chamarem
    public void ChangeColor(string hex)
    {
        CackgroundColor = hex;
        StateHasChanged();
    }
}
